addestramento.asv
valutazione.asv
Backup/lda_model.mat
Backup/nn_model.mat
Backup/svm_model - generale.mat
Backup/svm_model.mat
Backup/Modelli_allenati/lda_model.mat
Backup/Modelli_allenati/nn_model.mat
Backup/Modelli_allenati/svm_model - generale.mat
Backup/Modelli_allenati/svm_model.mat
Backup/Modelli_allenati/Low_training/lda_model.mat
Backup/Modelli_allenati/Low_training/nn_model.mat
Backup/Modelli_allenati/Standard/lda_model.mat
Backup/Modelli_allenati/Standard/nn_model.mat
Backup/Modelli_allenati/Standard/svm_model.mat
